@import url(color_pallete.css);

/* -- Copy Button -- */
.copy-button {
    cursor: pointer;
    transition: 0.2s ease-in-out;

    color: transparent;
    background-color: transparent;
    
    background-size: cover;
    background-image: url(../img/copy_icon.svg);
}

.copy-button:hover {
    scale: 1.2;
    transition: 0.2s ease-in-out;
}

@keyframes checkCopy {
    0% {
        scale: 0.8;
    }
    10% {
        transform: rotate(-45deg);
        background-image: url(../img/check_icon.svg);
    }
    50% {
        scale: 1.2;
        transform: rotate(360deg);
        background-image: url(../img/check_icon.svg);
    }
    100% {
        scale: 1;
        transform: rotate(360deg);
        background-image: url(../img/check_icon.svg);
    }
}

@keyframes uncheckCopy {
    0% {
        scale: 0.8;
    }
    10% {
        background-image: url(../img/copy_icon.svg);
    }
    50% {
        scale: 1.2;
        background-image: url(../img/copy_icon.svg);
    }
    100% {
        scale: 1;
        background-image: url(../img/copy_icon.svg);
    }
}

/* -- Links To Out Button -- */
.link-to-out {
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.link-to-out::before {
    height: 150%;
    z-index: -1;

    content: '';
    position: absolute;
}

.link-to-out:visited {
    color: var(--secondary-color);
}

.link-to-out:hover,
.link-to-out:visited:hover {
    color: var(--white-color)    
}

.link-to-out:hover::before,
.link-to-out:not(:hover)::before {
    background-color: var(--primary-color);
}

.link-to-out:visited:hover::before,
.link-to-out:visited:not(:hover)::before {
    background-color: var(--secondary-color);
}

.link-to-out:hover::before,
.link-to-out:visited:hover::before {
    animation: selectLink 0.2s ease forwards;
}

.link-to-out:not(:hover)::before,
.link-to-out:visited:not(:hover)::before {
    animation: deselectLink 0.2s ease forwards;
}

@keyframes selectLink {
    from {width: 0;}
    to {width: 98%;}
}

@keyframes deselectLink {
    from {width: 98%;}
    to {width: 0;}
}