@import url(color_pallete.css);

.box-shadow {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.radial-gradient-effect {
    background: radial-gradient(
        circle, 
        #c1fcd34d 0%, 
        #0ccda34d 37%, 
        #3332324d 95%
    );  
}

.linear-gradient-effect {
    background: linear-gradient(
        42deg, 
        #25837b 0%, 
        #2cc798 100%
    );
}

.start-square-text-marker{
    display: flex;
}

.start-square-text-marker::before {
    width: 10px;
    height: 1em;
    margin-right: 10px;

    content: '';
    display: inline-block;
    
    background-color: var(--primary-color);
}
