@import url(color_pallete.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 40px 0;
}

::selection {
    color: var(--white-color);
    background-color: var(--secondary-color);
}

body {
    overflow-x: hidden;
    background-color: var(--primary-background-color);

    display: flex;
    align-items: center;
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--primary-color);
}

body::-webkit-scrollbar-track {
    background-color: var(--secondary-background-color);
}
