@import url(color_pallete.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    
    animation: expandHeader 0.1s ease-in-out forwards;
}

@keyframes collapseHeader {
    from {
        height: 50px;
    }
    to {
        height: 0;
    }
}

@keyframes expandHeader {
    from {
        height: 0;
    }
    to {
        height: 50px;
    }
}
