#main-iframe {
    width: 100vw;
    
    bottom: 0;
    position: absolute;
    animation: collapseIframe 0.1s ease-in-out forwards;
}

@keyframes collapseIframe {
    from {
        height: 100vh;
    }
    to {
        height: calc(100vh - 49px);
    }
}

@keyframes expandIframe {
    from {
        height: calc(100vh - 49px);
    }
    to {
        height: 100vh;
    }
}
