* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#menu-button {
    width: 0;
    height: 0;
    border: none;

    left: 4vw;
    position: absolute;

    background-size: cover;
    background-image: url(../img/menu_icon.svg);
    background-color: transparent
}


/* -- IFrame --*/
#main-iframe {
    width: 100vw;

    bottom: 0;
    position: absolute;
    animation: collapseIframe 0.1s ease-in-out forwards;
}

@keyframes collapseIframe {
    from {
        height: 100vh;
    }
    to {
        height: 94vh;
    }
}

@keyframes expandIframe {
    from {
        height: 94vh;
    }
    to {
        height: 100vh;
    }
}
