* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

header > h1 {
    font-family: Arial;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 10vh;
    background-color: var(--primary-color);
}

#menu-button {
    width: 4vh;
    height: 4.8vh;
    border: none;

    left: 4vw;
    position: absolute;

    background-size: cover;
    background-image: url(../img/menu_icon.svg);
    background-color: transparent
}


/* -- IFrame --*/
#main-iframe {
    width: 100vw;
    height: 90vh;
}