@import url(color_pallete.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/* -- Basics -- */
p, h1, h2, 
h3, h4, h5 {
  text-align: start;
  font-family: Arial;
}

p {
  color: var(--white-color);
  font-size: 16px;
  padding-top: 10px;
  line-height: 26px;
}

h1, h2, 
h3, h4, h5 {
  color: var(--primary-color);
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 6px;
}

/* -- Special -- */
.centered-text {
  width: 100%;
  text-align: center;
}