@import url(color_pallete.css);

/* -- Basics -- */
p,
h1, h2, h3, 
h4, h5, h6 {
  text-align: start;
  font-family: "Arial";
}

p {
  color: var(--white-color);
}

h1, h2, h3, 
h4, h5, h6 {
  color: var(--primary-color);
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

/* -- Text Block -- */
.text-block > p {
  font-size: 16px;
  padding-top: 10px;
  line-height: 26px;
}

.text-block {
  width: 100%;
  position: relative;
  margin-bottom: 30px;

  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}
